#detailsTitle{
    color: blue;
    position: relative;
    padding-top: 2%;
    border: 0.5px rgb(185, 185, 185) solid;
    border-radius: 10px 10px 10px 10px;
    background: rgb(233, 233, 233);
}

#detailsBody{
    margin-top: 4%;
    position: relative;
    padding-top: 2%;
    border: 0.5px rgb(185, 185, 185) solid;
    border-radius: 10px 10px 10px 10px;
    background: rgb(233, 233, 233);
}

#infoClient{
    margin: 5% auto;
}


.apoinment{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background: white;

}

.counters{
    margin-left: 8%;
}

@media print {
    body * {
      visibility: hidden;
      position: relative;

    }
    #section-to-print, #section-to-print * {
      visibility: visible;
      font-size: 1.5rem;
    }
    #section-to-print {
      position: absolute;
      width: 800px;
      height: 100vh;
      right: 100px;
    }
  }

