#detailsTitle{
    color: #0069b4;
    position: relative;
    background: white;
}

#detail {
  padding: 1% 1% 1% 1.2%;
}

#detailsBody{  
    position: relative;
    padding-top: 1.5%;
    border: 0.5px rgb(185, 185, 185) solid;
    border-radius: 10px 10px 10px 10px;
    background: white;
    font-size: 13px !important;
}

#infoClient{
    margin: 5% auto;
}

#row-bordered-totals {
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 4%;
  margin-top: 2%;
}


.apoinment{
  margin: 1%;
  padding: 2%;
    background: white;

}

.counters{
    margin-left: 8%;
}


.iconstyle{
  margin-bottom: 8%;
}

@media print {
    body * {
      visibility: hidden;
      /* position: relative; */

    }
    #section-to-print, #section-to-print * {
      visibility: visible;
      font-size: 1.5rem;
    }
    #section-to-print {
      position: relative;
      width: 100%;
      height: auto; 
      /* right: 100px; */

      margin-top: -100%;
    }
  }

