#search{  
    color: #0069b4;
    position: center;
    padding-top: 1%;
    border: 0.5px rgb(185, 185, 185) solid;
    border-radius: 10px 10px 10px 10px;
    background: white !important;
    text-align: center;
    align-items: center;
}